<a href="https://colab.research.google.com/github/AlecRempel1/BTE-320-AMR/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Radius = float(input("Please enter radius: "))
Height = float(input("Please enter height: "))
pi = 3.14
area = (2 * pi* Radius **2) + (2 * pi * Radius * Height)
print("Area of Cylinder:", area, "sq. ft")
type(area)

Please enter radius: 5
Please enter height: 5
Area of Cylinder: 314.0 sq. ft

float

In [ ]:
n1 = float(input("Please enter number 1: "))
n2 = float(input("Please enter number 2: "))
op = input("Please enter the operation: ")

if op == "+":
  print(n1 + n2)
elif op == "-":
  print(n1 - n2)
elif op == "*":
  print(n1 * n2)
elif op == "/":
  print(n1 / n2)
elif op == "//":
  print(n1 // n2)
elif op == "**":
  print(n1 ** n2)
elif op == "%":
  print(n1 % n2)
else:
  print("Invalid operation")

Please enter number 1: 1
Please enter number 2: 2
Please enter the operation: **
1.0

In [ ]:
for numberHours in range(1, 9):
  fee = 5 + 2.5 * numberHours
  if fee < 10:
    fee = 10
  elif fee > 20:
    fee = 20
  print(numberHours, fee)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
import math

print('ad$/t', 'Profit')
for adMoney in range(0, 201, 25):
  revenue = (20 + 2 *round(math.sqrt(adMoney))) * 10
  cost = 200 + adMoney
  profit = revenue - cost
  print(adMoney, "\t", profit)

ad$/t Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In [ ]:
play = (input("Would you like to play the game(Yes or No): "))
while play == "Yes" or play == "yes":
  print("Let's Play!")
  PlayerOne = input("Player One, Please enter Rock, Paper, or Scissors: ")
  PlayerTwo = input("Player Two, Please enter Rock, Paper, or Scissors: ")
  if PlayerOne == PlayerTwo:
    print("Tie!")
  elif PlayerOne == "Rock" and PlayerTwo == "Scissors":
    print("Player One Wins!")
  elif PlayerOne == "Paper" and PlayerTwo == "Rock":
    print("Player One Wins!")
  elif PlayerOne == "Scissors" and PlayerTwo == "Paper":
    print("Player One Wins!")
  else:
    print("Player Two Wins!")

    play = input("Would you like to play again(Yes or No): ")
print("Have a good day!")

Would you like to play the game(Yes or No): yes
Let's Play!
Player One, Please enter Rock, Paper, or Scissors: rock
Player Two, Please enter Rock, Paper, or Scissors: scissors
Player Two Wins!
Would you like to play again(Yes or No): no
Have a good day!

In [ ]:
lst = []

num = float(input("Please enter a number: "))

while num != 0.0:
  lst.append(num)
  num = float(input("Please enter a number: "))
lst.sort(reverse=True)
print(lst)

Please enter a number: 876
Please enter a number: 789900
Please enter a number: 76.54
Please enter a number: 3
Please enter a number: 2
Please enter a number: 346.76
Please enter a number: 0
[789900.0, 876.0, 346.76, 76.54, 3.0, 2.0]

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for idx in range(len(names)):
  months[numbers[idx]] = names[idx]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [24]:
counts = {}

while len(counts) < 5:
  key = input("Give a string: ")

  if key not in counts:
    counts[key] = 1
  else:
    counts[key] = counts[key] + 1

counts

Give a string: coconut
Give a string: pear
Give a string: tomato
Give a string: potato
Give a string: pear
Give a string: coconut
Give a string: kiwi

{'coconut': 2, 'pear': 2, 'tomato': 1, 'potato': 1, 'kiwi': 1}

In [ ]:
def calcFee(hours):
  fee = 5 + 2.5 * hours
  if fee < 10.0:
    fee = 10.0
  elif fee >= 20.0:
    fee = 20.0
  print(f'fee: ${fee}')

def main():
    numHours = int(input('Enter number of hours: '))
    calcFee(numHours)

if __name__ == '__main__':
   main()

Enter number of hours: 3
fee: $12.5

In [ ]:
def reverse(s):
  if len(s) <= 1:
    return s
  else:
    return reverse(s[1:]) + s[0]
reverse('Hello')

'olleH'

In [ ]:
def calcFee(hours):
  fee = 5 + 2.5 * hours
  if fee < 10.0:
    fee = 10.0
  elif fee >= 20.0:
    fee = 20.0
  print(f'fee: ${fee}')

def main():
  try:
    numHours = int(input('Enter number of hours: '))
    calcFee(numHours)
  except ValueError:
    print('Cannot be casted as int()')

if __name__ == '__main__':
   main()

Enter number of hours: 5.2
Cannot be casted as int()

In [ ]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last

  def display(self, formal = False):
    if formal:
      print(f'Hello {self.first} {self.last}')
    else:
      print(f'Hi [self.first]')

  def __str__(self):
    return str(self.first)+ ", " + str(self.last)

greeting = Greeting('Donald', 'Becker')
greeting.display(formal = True)
print(greeting)

Hello Donald Becker
Donald, Becker

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course not in self.courses:
      self.courses.append(course)
    else:
        print(f'You have already enrolled in {course}')

  def get_courses(self):
    return self.courses

s1 = Student('Timothy', 100)
s2 = Student('Jenna', 101)
s1.name, s2.name

('Timothy', 'Jenna')

In [ ]:
s1.enroll('BTE320')

In [ ]:
s1.enroll('BTE422')

In [ ]:
s1.get_courses()

['BTE320', 'BTE422']

In [ ]:
import math

class Point:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def distance(self, other):
    dx = (self.x - other.x) ** 2
    dy = (self.y - other.y) ** 2
    dist = math.sqrt(dx + dy)
    return dist

p1 = Point(1, 7)
p2 = Point(4, 3)
p1.distance(p2)

5.0

In [ ]:
class Rectangle:
  def __init__(self):
    self.c1 = Point(0, 0)
    self.c2 = Point(0, 2)
    self.c3 = Point(2, 0)
    self.c4 = Point(0, 2)
    self.width = self.calculate_width()
    self.length = self.calculate_length()

  def calculate_width(self):
    return self.c1.distance (self.c3)

  def calculate_length(self):
    return self.c1.distance (self.c2)

  def area(self):
    return f'Area = {self.width * self.length} sq ft'


square = Rectangle()
square.area()

'Area = 4.0 sq ft'